{% extends 'base.html' %} {% block title%}Secret{% endblock %} {% block
content%}
<h1>Hello, {{ user.first_name }} You Made It!</h1>
<h2>User Information</h2>
<h3>First Name: {{ user.first_name }}</h3>
<h3>Last Name: {{ user.last_name }}</h3>
<h3>Username: {{ user.username }}</h3>
<h3>Email Address {{ user.email }}</h3>
<form action="/logout" method="get">
  <button>Logout</button>
</form>
<form action="/user/{{ user.username }}/delete" method="post">
  <button>Delete User Account?</button>
</form>
<form action="/user/{{ user.username }}/feedback/add" method="get">
  <button>Add Feedback</button>
</form>
{% for feedback in feedbacks %}
<h4>{{ feedback.title }}</h4>
<h5>{{ feedback.content }}</h5>
<form action="/feedback/{{ feedback.id }}/update" method="get">
  <button>edit</button>
</form>
<form action="/feedback/{{ feedback.id }}/delete" method="POST">
  <button>delete</button>
</form>
{% endfor %} {% endblock %}
